#search-container {
	margin: 0 auto;
	width: 600px;
	padding-top: 2.5%;
}
	
#search-box {
	background:-moz-linear-gradient(top, #ffd73a, #ffa500);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffd73a), to(#ffa500));
	border:1px solid #d28703;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
	-webkit-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
	padding:9px;
	width:600px;
	top:30px;
	right:5px;
	
}

a #ui-active-menuitem {
	background: blue;}


#search-box .wrapper {
	background:#fff;
	border:1px solid #d28703;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0;
	padding:13px 0 10px 8px;
	position:relative;
}

#search-box .button {
   border-top: 1px solid #000000;
   background: #3f5361;
   background: -webkit-gradient(linear, left top, left bottom, from(#01080d), to(#3f5361));
   background: -webkit-linear-gradient(top, #01080d, #3f5361);
   background: -moz-linear-gradient(top, #01080d, #3f5361);
   background: -ms-linear-gradient(top, #01080d, #3f5361);
   background: -o-linear-gradient(top, #01080d, #3f5361);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #058550;
   background: #058550;
   color: #ccc;
   }
.button:active {
   border-top-color: #0a3654;
   background: #0a3654;
   }

#search-box .food-search { border:none; color:#333; font:bold 24px Helvetica, Arial, sans-serif; width:510px; }

#search-container .results-info {
	text-align: center;
	padding-top: 1.5%;
	font-family: sans-serif;
	font-size: 80%
}

#submit_search {
	font-family: sans-serif;
}

#title-budget {
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 340%;
	float: left;
}

#title-bytes {
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 340%;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
	float: left;
}
#title-finder {
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 300%;
	padding-bottom: 5%;
}

#all-results {
	margin: 0 auto;
	width: 1000px;
	padding-top: 4%;
	font-family: Arial;
}

#all-results .search-results-title {
	color: black;
	font-weight: bolder;
	font-size: 1.6em;
}
#all-results .search-results-blurb {
	line-height: 1.3em;
	padding-top: 1%;
}
#all-results .read-more {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 90%;
}

.read-more:hover {
	text-decoration: underline;
	color: #FFD73A;
	font-weight: bold;
	font-size: 90%;
}

.centre {
	margin-left: auto;
	margin-right: auto;
	width: 8em;
}

#loading {
	display: hidden;
	padding-top: 2em;
}

.nav-area {
    font-size: 13px;
    font-family: sans-serif;
    float: right;
    color: gray;
    position: absolute;
    top: 10px;
    right: 20px;
    padding-right: 2%;
}

.nav-link {
    color: gray;
    text-decoration: none;
}

.nav-link:visited {
    color: gray;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-description{
    display: none;
    color: gray;
    text-decoration: none;
    max-width: 203px;
    text-align: justify;
    padding-top: 5%;
}
