{% for food in results %}	
<a class="search-results-title" href='{{food[3]}}'>{{food[0]}}</a>
<div class"search-results-price">{{food[1]}}</div>
<div class="search-results-blurb">{{food[2]}} <a class="read-more" href="{{food[3]}}">Read More</a></div>
<br>
{% endfor %}
