<!doctype html>
<head>
	<title> Bytefinder </title>
	<script src="/static/jquery-1.8.0.js"></script>
	<script src="/static/jquery.ui.core.js"></script>
	<script src="/static/jquery.ui.widget.js"></script>
	<script src="/static/jquery.ui.position.js"></script>
	<script src="/static/jquery.ui.autocomplete.js"></script>
	<link rel="stylesheet" href="/static/ui.autocomp.widget.css">	
	<link rel="stylesheet" href="/static/rorstyle.css">


	<script type="text/javascript" language="javascript">
		<!--

	$(document).ready(function() {
			$("#loading").hide();

			$('#food-search').autocomplete({
				source: function(request, response) {
					$.getJSON('/jsontimes', {term: extractLast(request.term)}, function(result) {
					response($.map(result, function(item) {
							return item.label }));});},

				search: function () {
        				var term = extractLast(this.value);
        				if (term.length < 1) {
            				return false;
					}},
				focus: function() {
					return false; },
				select: function(event, ui) {
					var terms = split(this.value);
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push(ui.item.value);
					// add placeholder to get the comma-and-space at end
					terms.push("");
					this.value = terms.join(", ");
					return false;
				}
			});

			function split(val){
				return val.split(/,\s*/);}

			function extractLast(term) {
				return split(term).pop();}				



			$("#submit_search").click(function() {
					$("#loading").show();
					})


			
	});


	-->
	</script>
</head>
<body>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<div class="nav-area">
		<a class="nav-link" href="javascript:void(0);" id="instructions-link">instructions</a>
		|
		<a class="nav-link" href="javascript:void(0);" id="about-link">about</a>
		|
		<a class="nav-link" href="http://budgetbytes.blogspot.ca/" id="budgetbytes">budgetbytes</a>
		<br><br>
		<div class="nav-description" id="instructions">welcome to bytefinder! select ingredients you already have in your kitchen from the bytefinder bar and i'll spit out different budgetbytes recipes you can make with them.</div>
		<div class="nav-description" id="about">bytefinder is a reverse-recipe lookup tool for bargain-hungry byte hunters. it generates recipes from <a class="nav-link" href="http://budgetbytes.blogspot.ca/">budgetbytes.blogspot.ca</a>. i make no claim to the intellectual property aggregated from the budgetbytes website.<br><br>bytefinder is a personal project by tahia khan. this is the very first web application i've ever built and i'd love to hear your feedback on my work! the source code can be found <a class="nav-link" href="https://bitbucket.org/tkhan/">here</a> and you can contact me via <a class="nav-link" href="http://goo.gl/qK11u">google+</a>. 
		</div>
		<script>
			<!-- 
			$("#instructions-link").click(function() {
				$("#about").slideUp();
				$("#instructions").slideToggle();
			});
			$("#about-link").click(function() {
				$("#instructions").slideUp();
				$("#about").slideToggle();
			});
			-->
		</script>
		

	</div>

	<div id="search-container">
		<div id="title-budget">BUDGET </div><div id="title-bytes">BYTES </div>
		<div id="title-finder">bytefinder</div>
		<form action="{{url_for('index')}}" id="search-box" method=post>
			<div class="wrapper">
				<input id="food-search" class="food-search" name="search" placeholder="Search for Bytes..."/><input type="submit" class="button" id="submit_search" />
			</div>
		</form>
		
	{% if error %}
	<div class="results-info" id="error">{{error}}</div>
	{% endif %}
	{% if match %}
	<div class="results-info">{{match}}</div>
	{% endif %}
	</div> 
	<div class="centre"><img id="loading" src="static/loadbar.gif" alt="Loading..." /></div>

	<div id="all-results">
		{% if results %}
		{% for food in results %}	
		<a class="search-results-title" href='{{food[3]}}'>{{food[0]}}</a>
		<div class"search-results-price">{{food[1]}}</div>
		<div class="search-results-blurb">{{food[2]}} <a class="read-more" href="{{food[3]}}">Read More</a></div>
		<br>
		{% endfor %}
	{% endif%}
	</div>



</body>

